@font-face {
  font-family: "Cerapro";
  src: url("../assets/Demo_Fonts/Fontspring-DEMO-cerapro-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cerapro";
  src: url("../assets/Demo_Fonts/Fontspring-DEMO-cerapro-bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cerapro";
  src: url("../assets/Demo_Fonts/Fontspring-DEMO-cerapro-medium.otf");
  font-weight: 600;
  font-style: normal;
}
