@use "../../styles/variables" as *;

.tracker {
  align-self: center;
  display: flex;
  align-items: center;
  &__img {
    height: 20rem;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--active {
      font-weight: bold;
    }
  }
}

.age {
  display: flex;
  padding: 0 0.5rem;

  &__questions {
    width: 100%;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
  }
}
